[Unit]
Description="Runs the generate_index script everyday at 5:00"

[Service]
ExecStart=/var/lib/webgen/bin/generate-index
User=webgen
Group=webgen
